# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.astro/
*.tsbuildinfo

# data
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
apps/api/src/data/

# env / secrets
.env
.env.*
!.env.example

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.log
npm-debug.log*
